@media(max-width: 500px) {
    .personalInfo{
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        margin-right: 20%;
    }
    .personalInfo img{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 5%;
    }
    .tableBlock{
        width: 100%;
    }
    .groupTable tr{
        font-size: 2.5vw;
    }
    .description{
        font-size: 4vw;
        width: 100%;
    }
    .description p{
        text-align: center;
        width: 100%;
    }
    .nav-links a{
        display: flex;
        justify-content: center;
        border: solid white 1px;
    }
    input[type="checkbox" i]{
        display: block;
    }
    #menu__toggle {
        opacity: 0;
    }
    .studentName{
        font-size: 2vw;
    }
    .siteTitle{
        font-size: 3vw;
    }
    header{
        margin-bottom: 10%;
    }
    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center;  /* центрируем содержимое кнопки */
        margin: 0 auto;
        margin-bottom: 20px;
        transform: translate(0%,50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 1;
    }
    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .nav-links {
        z-index: 1;
        display: none;
        position: absolute;
        width: 100%;
        margin: 0;
        list-style: none;
        text-align: center;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }

    .nav-links a {
        display: block;
        color: white;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
    }
    .nav-links a:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .nav-links {
        visibility: visible;
        display: block;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        transition-duration: .25s;
    }

    .lines{
        position: relative;
        display: block;
        padding-bottom: 30px;
        border: 1px solid gray;
    }
    .editIcon{
        margin-right: 5%;
    }
    .tableLine p{
        margin-left: 5%;
        display: flex;
        align-items: center;
        font-size: 3.5vw;
    }
    footer{
        display: flex;
        flex-direction: column;
        font-size: 3.5vw;

    }
    .siteTitle{
        font-size: 3.5vw;
    }
    .studentName{
        font-size: 2.2vw;
    }
    .phoneNumber{
        margin-bottom: 0;
    }
    .footerLeft{
        font-size: 3.5vw;
        margin-bottom: 5%;
        text-align: center;
    }
    .footerRight{
        text-align: center;
    }

}